### In this Task we are going to implement KNN Algorithm on a dataset

In [2]:
import pandas as pd
import numpy as np

In [17]:
heart_disease=pd.read_csv("heart.csv",encoding='latin1')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [8]:
X=heart_disease.drop("target", axis=1)
y=heart_disease["target"]

In [9]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.3)

In [15]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
416,54,1,2,125,273,0,0,152,0,0.5,0,1,2
827,57,1,2,128,229,0,0,150,0,0.4,1,1,3
507,41,0,1,130,204,0,0,172,0,1.4,2,0,2
774,48,0,2,130,275,0,1,139,0,0.2,2,0,2
960,52,0,2,136,196,0,0,169,0,0.1,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,54,1,0,120,188,0,1,113,0,1.4,1,1,3
592,70,1,2,160,269,0,1,112,1,2.9,1,1,3
593,63,0,0,108,269,0,1,169,1,1.8,1,2,2
46,41,1,1,135,203,0,1,132,0,0.0,1,0,1
908,62,1,0,120,267,0,1,99,1,1.8,1,2,3

In [16]:
y_test

416    1
827    0
507    1
774    1
960    1
      ..
997    0
592    0
593    0
46     1
908    0
Name: target, Length: 308, dtype: int64

In [10]:
clf=KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train,y_train)

KNeighborsClassifier()

In [13]:
y_pred=clf.predict(X_test)
accuracy=accuracy_score(y_test,y_pred)

In [14]:
print(f"Accuracy of this model is {accuracy* 100:.2f}%")

Accuracy of this model is 71.75%